<div class="container-fluid py-4">
    
      <div class="container-fluid">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-xl-6 mb-xl-0 mb-4">
              <h6>Device</h6>
              <p>holy-bird</p>
            </div>
            <div class="col-xl-6">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn bg-gradient-dark mb-0 " type="button">
				    <span class="btn-inner--icon"><i class="ni ni-bullet-list-67"></i></span>
				    <span class="btn-inner--text">Reboot</span>
				  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn bg-gradient-dark mb-0" type="button">
				    <span class="btn-inner--icon"><i class="ni ni-button-power"></i></span>
				    <span class="btn-inner--text">Restart</span>
				  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-icon btn btn-outline-secondary" type="button">
					<span class="btn-inner--icon"><i class="ni ni-bulb-61"></i></span>
				  </button>
                </div>

              </div>
            </div>
        </div>
            <div class="col-md-12 mb-lg-0 mb-4">
              <div class="card mt-4">
                <div class="card-header pb-0 p-3">
                    <div class="container">
					  <div class="row">
					    <div class="col-sm">
					      <h6>STATUS</h6>
					      <p>Online</p>
					    </div>
					    <div class="col-sm">
					      <h6>UUID</h6>
					      <span class="text-primary text-xs">ae741eb</span>
					      <i class="ni ni-ungroup"></i>

					    </div>
					    <div class="col-sm">
					      <h6>TYPE</h6>
					      <p>Balena Fin(CM3)</p>
					    </div>
					  </div>
				    </div>
				    <div class="container">
					  <div class="row">
					    <div class="col-sm">
					      <h6>LAST ONLINE</h6>
					      <p>Currently Online(for 3 days)</p>
					    </div>
					    <div class="col-sm">
					      <h6>HOST OS VERSION</h6>
					      <p>balena os 2.29.2 <i class="ni ni-send"></i></p>
					      <span class="badge bg-gradient-warning">development</span>
					      
					    </div>
					    <div class="col-sm">
					      <h6>SUPERVISOR VERSION</h6>
					      <p>9.0.1<i class="ni ni-send"></i></p>

					    </div>
					  </div>
				    </div>
				    <div class="container">
					  <div class="row">
					    <div class="col-sm">
					      <h6>RELEASE</h6>
					      <span class="text-primary text-xs">8e586c7</span>
					      
					    </div>
					    <div class="col-sm">
					      <h6>IP ADDRESS</h6>
					      <span class="text-primary text-xs">192.168.1.173</span>
					      <i class="ni ni-ungroup"></i>
					      
					    </div>
					    <div class="col-sm">
					      <h6>PUBLIC DEVICE URL</h6>
					      <i class="ni ni-ui-04"></i>
					    </div>
					  </div>
				    </div>
				    <div class="container">
					  <div class="row">
					    <div class="col-sm">
					      <div class="form-group">
						    <div class="input-group input-group-sm">
						      <span class="input-group-text" id="inputGroup-sizing-sm">Add Device Notes</span>
						      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
						    </div>
						</div>
					    </div>
					  </div>
				    </div>
            </div>
          </div>
        </div>



        
      </div>
      
          </div>
        </div>
    </div>

        <div class="container">
		  <div class="row">
		    <div class="col-sm">
		     	<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Service
          	<i class="ni ni-bold-down"></i>
          </th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status
          	<i class="ni ni-bold-down"></i>
          </th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Release
          	<i class="ni ni-bold-down"></i>
          </th>
          <th class="text-secondary opacity-7"></th>
          <th class="text-secondary opacity-7"></th>
          <th class="text-secondary opacity-7"></th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-danger">img</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-info">devices</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-warning">vpn</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-success">git</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-primary">redis</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-secondary">s3</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-info">ui</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-dark">api</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-danger">haproxy</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <span class="badge bg-gradient-primary">registry2</span>
              </div>
            </div>
          </td>
          <td>
            <h6 class="mb-0 text-xs">Running</h6>
            
          </td>
          <td class="align-middle text-center text-sm">
            <h6 class="mb-0 text-xs">0e586e7</h6>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-play"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-pause"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-button-power"></i></span>
          </td>
          <td class="align-middle text-center">
            <span><i class="ni ni-collection"></i></span>
          </td>
          
        </tr>

        
      </tbody>
    </table>
  </div>
</div>
		    </div>
		    <div class="col-sm">
		      
        	<div class="card mb-3">
          <div class="card-body p-3">
            <div class="chart">
              <canvas id="line-chart-gradient" class="chart-canvas" height="300px"></canvas>
            </div>
          </div>
        </div>


		    </div>
		  </div>
		</div>
</div>


